[Unit]
Description=Start ProtonMail Bridge after graphical session startup

[Timer]
OnActiveSec=1s
Unit=protonmail-bridge.service

[Install]
WantedBy=graphical-session.target
