[Unit]
Description=Supersonic Music Player
{{- if (index . "yubikeyring" | default false) }}
After=yubikeyring.service
Wants=yubikeyring.service
{{- end }}

[Service]
Type=simple
ExecStart=/usr/bin/supersonic-desktop

[Install]
WantedBy=wayland-session-xdg-autostart@hyprland.desktop.target
