configuration {
	modi: "drun,ssh";
	fixed-num-lines: true;
	font: "MonoFont {{ .rofi.font.size }}";
	location: 0;
	show-icons: false;
	terminal: "ghostty";
	ssh-command: "{terminal} -e "{ssh-client} {host}"";
	run-command: "{cmd}";
	run-shell-command: "{terminal} -e "{cmd}"";
	matching: "fuzzy";
}

@import "gruvbox.rasi"
