# vim: ft=zsh

{{ if (index . "modern_cli" | default false) -}}
# Modern CLI tools
alias ls='eza --group-directories-first --time-style=long-iso'
alias l='ls --classify=auto -l'
alias ll='ls -la'
alias df=dysk
alias -g du=dust
alias -g duf=dust
alias -g dufa=dust
alias ps=procs
alias psql=pgcli
alias drill='dog'
alias rmdir='gtrash put --rm-mode -d'
alias rmr='gtrash put --rm-mode -rIf'
alias rm='gtrash put --rm-mode'
alias trash='gtrash'
alias su=su-rs
alias -g sudo=sudo-rs
alias sudoedit=sudoedit-rs
alias visudo=visudo-rs
{{ else }}
# Traditional CLI tools
alias ls='ls --group-directories-first --color=auto --time-style=long-iso'
alias l='ls --classify=auto -lh'
alias ll='ls -lah'
alias df='df -h'
alias -g du='du -sh'
alias -g duf='du -sh * | sort -h'
alias -g dufa='du -sh * .* | sort -h'
alias rmdir='trash'
alias rmr='trash'
alias rm='trash'
{{- end }}

# General
alias '..'='cd ..'
alias '...'='cd ../..'
alias '....'='cd ../../..'
alias '.....'='cd ../../../..'
alias '......'='cd ../../../../..'
alias '.......'='cd ../../../../../..'
alias '........'='cd ../../../../../../..'
alias '.........'='cd ../../../../../../../..'
alias cd=z
alias -g NO='>/dev/null 2>&1'
alias -g NOD='>/dev/null 2>&1 & disown %1'
alias -g WC='| wc -l'
alias -g Y='| bat -l yaml'
alias -g oy='-o yaml'
alias -g oY='-o yaml | bat -l yaml'
alias -g clip='wl-copy'
alias -g vim='nvim'
alias -g vimdiff='nvim -d'
alias adb='adb -d'
alias cal='cal -m'
alias cdl='cd ~/ && cl'
alias cl=clear
alias cz=chezmoi
alias db='duplicity-backup -c ~/.config/duplicity-backup.conf'
alias diff='diff -y --suppress-common-lines'
alias dockre=docker
alias fdisk='sudo fdisk'
alias grep='grep --color=auto'
alias i3exit='i3-msg exit'
alias kak='kubectl apply -k'
alias kdk='kubectl diff -k'
alias mkdir='mkdir -p'
alias mpv='mpv --ytdl-format="bestvideo[height<=?1440]+bestaudio/best"'
alias myip='curl -s https://icanhazip.com'
alias -g opencode='AWS_PROFILE=default AWS_DEFAULT_REGION=us-east-1 opencode'
alias qrscan='hyprshot -m region --raw | zbarimg -1 -q - | sed "s/QR-Code://" | wl-copy'
alias ran=yazi
alias rcp='rsync -aPv'
alias -g rmrf='\rm -rf'
alias ssh='TERM=xterm-256color ssh'
alias tailscale='sudo tailscale'
alias unbound='cd /opt/docker/unbound; dcrestart; -'
alias virtualenv='python -m venv'
alias wgdown='sudo wg-quick down wg-vpn'
alias wgup='sudo wg-quick up wg-vpn'
alias wifi='nmcli radio wifi'

# Git aliases
alias gdp='g lg $(gtv T -n1)..main | grep -v "<Flux>"'
alias gt='g tag'
alias gum='gfa && g branch -f $(git_main_branch) origin/$(git_main_branch)'

# Systemctl aliases
alias sctl='sudo systemctl'
alias sstatus='sudo systemctl status'
alias sstart='sudo systemctl start'
alias srestart='sudo systemctl restart'
alias sreload='sudo systemctl reload'
alias sstop='sudo systemctl stop'
alias senable='sudo systemctl enable'
alias sdisable='sudo systemctl disable'
alias hib='sudo systemctl suspend'

alias suctl='systemctl --user'
alias sustatus='systemctl --user status'
alias sustart='systemctl --user start'
alias surestart='systemctl --user restart'
alias sureload='systemctl --user reload'
alias sustop='systemctl --user stop'
alias suenable='systemctl --user enable'
alias sudisable='systemctl --user disable'

# Terraform aliases
alias tf='terraform'
alias tfa='terraform apply'
alias tfp='terraform plan'
alias tfs='terraform state'

# Remove non-used  Oh my zsh aliases
unalias -m 'fd'
unalias -m 'ff'
unalias -m '_'
unalias -m 'please'
unalias -m 'gg'
unalias -m 'gsts'
{{- if hasKey . "aliases" }}

# Additional aliases
{{ range $alias := .aliases }}{{ $alias }}
{{ end -}}
{{- end }}
