// vim: set noet ft=chezmoitmpl.jsonc:
{
	"layer": "top",
	"position": "top",
	"reload_style_on_change": true,
	"modules-left": [
		"hyprland/workspaces"
	],
	"modules-right": [
		"custom/arrow_left_end_alt",
		"mpris",
		"custom/arrow_left_alt",
		"custom/crypto",
		"custom/arrow_left",
		"pulseaudio#mic",
		"custom/arrow_left_alt",
		"pulseaudio",
		{{ .waybar.top.extra_modules }}
		"custom/arrow_left",
		"hyprland/language",
		"custom/arrow_left_alt",
		"clock#date",
		"custom/arrow_left",
		"clock#time"
	],
	"hyprland/workspaces": {
		"disable-scroll-wraparound": true,
		"smooth-scrolling-threshold": 4,
		"enable-bar-scroll": true,
		"format": "{icon}: {windows}",
		"format-icons": {
			"11": "󰈹",
			"12": "󰭹",
			"13": "󰇮",
			"14": ""
		},
		"window-rewrite": {
			"class<1Password>": "󰌆",
			"class<Gimp-2.10>": "",
			"class<Gimp>": "",
			"class<Unity>": "",
			"class<WebCord>": "",
			"class<abs_flutter>": "",
			"class<alacritty>": "",
			"class<blender>": "󰂫",
			"class<blueman-manager>": "",
			"class<brave-browser>": "",
			"class<calibre-gui>": "",
			"class<chromium>": "",
			"class<cities.x64>": "󰅆",
			"class<clonehero>": "󰋄",
			"class<code-oss>": "",
			"class<com.github.wwmm.easyeffects>": "",
			"class<com.mitchellh.ghostty>": "",
			"class<com.obsproject.Studio>": "",
			"class<com.saivert.pwvucontrol>": "",
			"class<cutter>": "",
			"class<darktable>": "󰄄",
			"class<deezer-enhanced>": "",
			"class<discord>": "",
			"class<dk.gqrx.gqrx>": "",
			"class<dwarf_fortress>": "",
			"class<evince>": "",
			"class<factorio>": "",
			"class<feh>": "󰋩",
			"class<firefox>": "󰈹",
			"class<gamescope>": "󰓓",
			"class<ghb>": "󰕧",
			"class<gparted>": "",
			"class<gsmartcontrol>": "",
			"class<hoppscotch-app>": "󱃄",
			"class<insomnium>": "󰡷",
			"class<jetbrains-idea>": "",
			"class<kcharselect>": "",
			"class<kicad>": "",
			"class<ksp.x86_64>": "",
			"class<ledger live>": "󰖄",
			"class<libreoffice-calc>": "",
			"class<libreoffice-impress>": "",
			"class<libreoffice-writer>": "",
			"class<minecraft>": "󰍳",
			"class<mpv>": "󰕧",
			"class<mupdf>": "",
			"class<nemiver>": "",
			"class<net.ankiweb.Anki>": "󱀺",
			"class<net.lutris.Lutris>": "",
			"class<nm-connection-editor>": "",
			"class<obsidian>": "",
			"class<org.gnome.Lollypop>": "",
			"class<org.gnome.nautilus>": "",
			"class<org.inkscape.Inkscape>": "",
			"class<org.prismlauncher.PrismLauncher>": "󰍳",
			"class<org.pulseaudio.pavucontrol>": "",
			"class<org.pwmt.zathura>": "",
			"class<org.qbittorrent.qBittorrent>": "",
			"class<org.rncbc.qpwgraph>": "󱡫",
			"class<org.telegram.desktop>": "",
			"class<oversteer>": "󰊗",
			"class<picard>": "",
			"class<qtcreator>": "",
			"class<seahorse>": "",
			"class<signal>": "󰭹",
			"class<simplescreenrecorder>": "󰕧",
			"class<slack>": "",
			"class<spotify>": "",
			"class<sqlitebrowser>": "",
			"class<steam>": "󰓓",
			"class<steam_app_1250410>": "󰀝",
			"class<steam_app_1336490>": "",
			"class<steam_app_1422450>": "󰮔",
			"class<steam_app_284160>": "󰄋",
			"class<steam_app_599140>": "󰭿",
			"class<steam_app_671860>": "󰜃",
			"class<surviving mars>": "",
			"class<Supersonic>": "",
			"class<terraria.bin.x86_64>": "󰔱",
			"class<thunderbird>": "󰇮",
			"class<org.mozilla.thunderbird>": "󰇮",
			"class<unityhub>": "",
			"class<vesktop>": "",
			"class<virt-manager>": "",
			"class<virtualbox manager>": "",
			"class<vlc>": "󰕧",
			"class<wireshark>": "󱙳",
			"class<zen>": "󰈹",
			"class<zenity>": "",
			"title<cmus v.+>": ""
		}
	},
	"mpris": {
		"interval": 5,
		"format": "{player_icon} {dynamic}",
		"format-paused": "{status_icon} {dynamic}",
		"dynamic-order": [
			"artist",
			"title",
			"position",
			"length"
		],
		"player-icons": {
			"default": ""
		},
		"status-icons": {
			"paused": ""
		},
		"player": "Supersonic"
	},
	"backlight": {
		"format": "{icon} {percent}%",
		"format-icons": ["󰃞","󰃟","󰃠"]
	},
	"battery": {
		"interval": 60,
		"states": {
			"warning": 30,
			"critical": 10
		},
		"format-time": "{H}:{M:02}",
		"format": "{icon} {capacity}% ({time})",
		"format-charging": " {capacity}% ({time})",
		"format-charging-full": " {capacity}%",
		"format-full": "{icon} {capacity}%",
		"format-alt": "{icon} {power}W",
		"format-icons": [
			"",
			"",
			"",
			"",
			""
		],
		"tooltip": false
	},
	"clock#time": {
		"interval": 60,
		"format": "{:%H:%M}",
		"tooltip": true,
		"tooltip-format": "{:%H:%M:%S}"
	},
	"clock#date": {
		"interval": 60,
		"format": "{:%a %d}",
		"tooltip": true,
		"tooltip-format": "<tt><small>{calendar}</small></tt>",
		"calendar": {
			"mode": "month",
			"mode-mon-col": 3,
			"weeks-pos": "",
			"on-scroll": 1,
			"format": {
				"months": "<span color='#ebdbb2'><b>{}</b></span>",
				"days": "<span color='#ebdbb2'><b>{}</b></span>",
				"weekdays": "<span color='#d79921'><b>{}</b></span>",
				"today": "<span color='#cc241d'><b><u>{}</u></b></span>"
			}
		},
		"actions": {
			"on-click-right": "mode",
			"on-click-middle": "shift_reset",
			"on-scroll-up": "shift_up",
			"on-scroll-down": "shift_down"
		}
	},
	"hyprland/language": {
		"format": " {}",
		"keyboard-name": "at-translated-set-2-keyboard",
		"tooltip": false,
		"on-click": "hyprctl switchxkblayout at-translated-set-2-keyboard next",
		"format-en": "EN",
		"format-sr(latinunicode)": "SR",
		"format-sr": "SR",
		"format-de": "DE"
	},
	"pulseaudio": {
		"format": "{icon} {volume}%",
		"format-bluetooth": "{icon} {volume}%",
		"format-muted": "",
		"format-icons": {
			"headphone": "",
			"hands-free": "",
			"headset": "",
			"phone": "",
			"portable": "",
			"car": "",
			"default": [
				"",
				"",
				""
			]
		},
		"scroll-step": 2,
		"tooltip": true,
		"tooltip-format": "{desc}",
		"on-click": "pactl set-sink-mute @DEFAULT_SINK@ toggle"
	},
	"pulseaudio#mic": {
		"format": "{format_source}",
		"format-source": " {volume}%",
		"format-source-muted": "",
		"tooltip": false,
		"on-click": "pactl set-source-mute @DEFAULT_SOURCE@ toggle",
		"on-scroll-up": "pactl set-source-volume @DEFAULT_SOURCE@ +2%",
		"on-scroll-down": "pactl set-source-volume @DEFAULT_SOURCE@ -2%"
	},
	"custom/crypto": {
		"format": "{}",
		"interval": 60,
		"return-type": "json",
		"exec": "waybar-crypto",
		"exec-if": "ping pro-api.coinmarketcap.com -c1"
	},
	"custom/arrow_left": {
		"format": "",
		"tooltip": false
	},
	"custom/arrow_left_alt": {
		"format": "",
		"tooltip": false
	},
	"custom/arrow_left_end": {
		"format": "",
		"tooltip": false
	},
	"custom/arrow_left_end_alt": {
		"format": "",
		"tooltip": false
	}
}
