// vim: set noet ft=chezmoitmpl.jsonc:
{{- $cpuThreads := (output "sh" "-c" "lscpu --online --parse | grep --invert-match '^#' | wc --lines") | trim | atoi | add -1 | int }}
{
	"layer": "top",
	"position": "bottom",
	"reload_style_on_change": true,
	"modules-right": [
		"custom/arrow_left_end_alt",
		"network#tailscale",
		"custom/arrow_left_alt",
		"network",
		"custom/arrow_left",
		"temperature",
		"custom/arrow_left_alt",
		"cpu",
		"custom/arrow_left",
		"memory",
		"custom/arrow_left_alt",
		"tray"
	],
	"cpu": {
		"interval": 1,
		"tooltip": false,
		"format": "{{- range $i := splitList " " (seq 0 $cpuThreads) -}}{icon{{ $i }}}{{- end -}}",
		"format-alt": "  {usage}% ({load})",
		"format-icons": [
			"<span color='#98971a'>▁</span>", // green
			"<span color='#98971a'>▂</span>", // green
			"<span color='#d79921'>▃</span>", // yellow
			"<span color='#d79921'>▄</span>", // yellow
			"<span color='#d65d0e'>▅</span>", // orange
			"<span color='#d65d0e'>▆</span>", // orange
			"<span color='#cc241d'>▇</span>", // red
			"<span color='#cc241d'>█</span>" // red
		]
	},
	"memory": {
		"interval": 5,
		"format": " {used:0.1f}G/{total:0.1f}G",
		"states": {
			"warning": 70,
			"critical": 90
		},
		"tooltip": false
	},
	"temperature": {
		"critical-threshold": 90,
		"interval": 1,
		"hwmon-path-abs": "/sys/devices/{{ .waybar.bottom.cpu_temp_path }}/hwmon",
		"input-filename": "{{ .waybar.bottom.cpu_temp_filename }}",
		"format": "{icon} {temperatureC}°C",
		"format-icons": [
			"",
			"",
			"",
			"",
			""
		],
		"tooltip": false
	},
	"tray": {
		"icon-size": 18
		//"spacing": 10
	},
	"network": {
		"interval": 1,
		"format-wifi": " {essid} ({signalStrength}%) {bandwidthDownBytes} {bandwidthUpBytes}",
		"format-ethernet": " {bandwidthDownBytes} {bandwidthUpBytes}",
		"format-disconnected": "󰲜",
		"format-alt": "󰩠 {ipaddr}/{cidr}",
		"tooltip": false
	},
	"network#wireguard": {
		"interval": 5,
		"interface": "wg0",
		"format": " {ipaddr}/{cidr}",
		"format-disconnected": "󰲜 wireguard",
		"tooltip": false
	},
	"network#tailscale": {
		"interval": 5,
		"interface": "tailscale0",
		"format": "󰖂 {ipaddr}/{cidr}",
		"format-disconnected": "󰲜 tailscale",
		"tooltip": false
	},
	"custom/arrow_left": {
		"format": "",
		"tooltip": false
	},
	"custom/arrow_left_alt": {
		"format": "",
		"tooltip": false
	},
	"custom/arrow_left_end": {
		"format": "",
		"tooltip": false
	},
	"custom/arrow_left_end_alt": {
		"format": "",
		"tooltip": false
	}
}
