# Font
font-family = "IosevkaTerm NF"
font-style = "Regular"
font-size = {{ .ghostty.font.size }}
adjust-cell-width = {{ .ghostty.font.cell_width }}
adjust-cell-height = {{ .ghostty.font.cell_height }}

# Theme
theme = "GruvboxDark"

# Cursor
cursor-style = "block"
cursor-style-blink = false
shell-integration-features = no-cursor
cursor-click-to-move = true

# Scroll
mouse-scroll-multiplier = 1
scrollback-limit = 134217728

# Window
window-decoration = false
window-padding-x = 0
window-padding-y = 0
resize-overlay = never
gtk-titlebar = false

# Update
auto-update = off

# Keybindings
keybind = ctrl+enter=unbind
keybind = ctrl+comma=unbind
keybind = shift+enter=text:\n
