# vim: set ft=hyprlang:

# https://wiki.hyprland.org/Configuring/Keywords/

# debug {
#     disable_logs = false
# }

$active_bg = rgba(504945ff)
$inactive_bg = rgba(282828ff)

# https://wiki.hyprland.org/Configuring/Monitors/
{{ range $id, $settings := .hyprland.monitors }}monitorv2 {
    output = {{$id}}
    {{- range $key, $value := $settings }}
    {{$key}} = {{$value}}
    {{- end }}
}
{{ end }}
# https://wiki.hyprland.org/Configuring/Variables/
$terminal = ghostty
$menu = vicinae toggle
$animation_speed = 1

# exec-once = dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP
exec-once = hyprpm reload -n

exec-once = uwsm app -- firefox.desktop
exec-once = uwsm app -- org.mozilla.Thunderbird.desktop
exec-once = uwsm app -- org.telegram.desktop.desktop
exec-once = uwsm app -- signal-desktop.desktop
exec-once = uwsm app -- supersonic-desktop.desktop

# https://wiki.hyprland.org/Configuring/Variables/#general
general {
    layout = hy3
    gaps_in = 0
    gaps_out = 0
    border_size = 2

    # https://wiki.hyprland.org/Configuring/Variables/#variable-types for info about colors
    col.active_border = $active_bg
    col.inactive_border = $inactive_bg

    # Set to true enable resizing windows by clicking and dragging on borders and gaps
    resize_on_border = false

    # https://wiki.hyprland.org/Configuring/Tearing/
    allow_tearing = true
}

plugin {
    hy3 {
        # policy controlling what happens when a node is removed from a group,
        # leaving only a group
        # 0 = remove the nested group
        # 1 = keep the nested group
        # 2 = keep the nested group only if its parent is a tab group
        node_collapse_policy = 2

        # offset from group split direction when only one window is in a group
        group_inset = 10

        # if a tab group will automatically be created for the first window spawned in a workspace
        tab_first_window = false

        # tab group settings
        tabs {
          # height of the tab bar
          height = 26

          # padding between the tab bar and its focused node
          padding = 0
          # the tab bar should animate in/out from the top instead of below the window
          from_top = true
          radius = 0
          blur = false
          no_gaps_when_only = true

          # Window title text
          text_center = false
          text_font = IosevkaTerm NFP
          text_height = 14
          text_padding = 6 # left padding

          # active tab bar segment colors
          col.active = $active_bg
          col.active.border = $active_bg
          col.active.text = rgba(ebdbb2ff)

          # focused tab bar segment colors (focused node in unfocused container)
          col.focused = rgba(504945ff)
          col.focused.border = rgba(504945ff)
          col.focused.text = rgba(ebdbb2ff)

          # urgent tab bar segment colors
          col.urgent = rgba(d79921ff)
          col.urgent.border = rgba(d79921ff)
          col.urgent.text = rgba(282828ff)

          # inactive tab bar segment colors
          col.inactive = $inactive_bg
          col.inactive.border = $inactive_bg
          col.inactive.text = rgba(a89984ff)
        }
    }
}

# https://wiki.hyprland.org/Configuring/Variables/#decoration
decoration {
    rounding = 0
    active_opacity = 1.0
    inactive_opacity = 1.0
    shadow {
        enabled = false
    }
    blur {
        enabled = false
    }
}

# https://wiki.hyprland.org/Configuring/Variables/#animations
animations {
    enabled = yes, please :)

    # https://wiki.hyprland.org/Configuring/Animations/
    bezier = easeOutQuint,0.23,1,0.32,1
    bezier = easeInOutCubic,0.65,0.05,0.36,1
    bezier = linear,0,0,1,1
    bezier = almostLinear,0.5,0.5,0.75,1.0
    bezier = quick,0.15,0,0.1,1

    animation = global, 1, $animation_speed, default
    animation = border, 1, $animation_speed, easeOutQuint
    animation = windows, 1, $animation_speed, easeOutQuint
    animation = windowsIn, 1, $animation_speed, easeOutQuint, popin 87%
    animation = windowsOut, 1, $animation_speed, linear, popin 87%
    animation = fadeIn, 1, $animation_speed, almostLinear
    animation = fadeOut, 1, $animation_speed, almostLinear
    animation = fade, 1, $animation_speed, quick
    animation = layers, 1, $animation_speed, easeOutQuint
    animation = layersIn, 1, $animation_speed, easeOutQuint, fade
    animation = layersOut, 1, $animation_speed, linear, fade
    animation = fadeLayersIn, 1, $animation_speed, almostLinear
    animation = fadeLayersOut, 1, $animation_speed, almostLinear
    animation = workspaces, 1, $animation_speed, almostLinear, fade
    animation = workspacesIn, 1, $animation_speed, almostLinear, fade
    animation = workspacesOut, 1, $animation_speed, almostLinear, fade
}

# https://wiki.hyprland.org/Configuring/Variables/#misc
misc {
    font_family = Noto Sans
    force_default_wallpaper = 1
    disable_hyprland_logo = true
    vfr = true
    enable_swallow = true
    swallow_regex = com.mitchellh.ghostty
    mouse_move_enables_dpms = true
    key_press_enables_dpms = true
    disable_splash_rendering = true
}

xwayland {
    force_zero_scaling = true
}

ecosystem {
    no_update_news = true
}

render {
    direct_scanout = 2
    cm_fs_passthrough = 2
    cm_auto_hdr = 2
}

cursor {
    hotspot_padding = 0
}

# experimental {
#     xx_color_management_v4 = true
# }

# https://wiki.hyprland.org/Configuring/Variables/#input
input {
{{ .hyprland.input.keyboard_layouts | indent 4 }}

    follow_mouse = 1
    sensitivity = {{ .hyprland.input.sensitivity }}
    touchpad {
        natural_scroll = false
        drag_lock = 0
    }
}

# https://wiki.hyprland.org/Configuring/Variables/#gestures
gestures {
    workspace_swipe_touch = false
}

# https://wiki.hyprland.org/Configuring/Keywords/
$mod = SUPER

# https://wiki.hyprland.org/Configuring/Binds/
bind = $mod SHIFT, Q, hy3:killactive,
bind = $mod SHIFT, X, exec, loginctl terminate-session "$XDG_SESSION_ID"

# Launcher bindings
bind = $mod, Space, exec, $menu
bind = $mod, Backspace, exec, $menu
bind = $mod, j, exec, vicinae vicinae://extensions/vicinae/core/search-emojis
bind = $mod, d, exec, fuzzel "--launch-prefix=uwsm app --"
bind = $mod, Return, exec, uwsm app -- $terminal +new-window

# Focus bindings
bind = $mod, h, hy3:movefocus, l
bind = $mod, i, hy3:movefocus, r
bind = $mod, e, hy3:movefocus, u
bind = $mod, n, hy3:movefocus, d
# binds hy3:focustab to lmb and still allows windows to receive clicks
bindn = , mouse:272, hy3:focustab, mouse

# Move bindings
bind = $mod SHIFT, h, hy3:movewindow, l
bind = $mod SHIFT, i, hy3:movewindow, r
bind = $mod SHIFT, e, hy3:movewindow, u
bind = $mod SHIFT, n, hy3:movewindow, d

# Layout bindings
bind = $mod, f, fullscreen
bind = $mod SHIFT, Space, togglefloating,
bind = $mod SHIFT, Backspace, togglefloating,
bind = $mod, s, hy3:changegroup, opposite
bind = $mod, t, hy3:changegroup, toggletab
bind = $mod, v, hy3:makegroup, v, ephemeral
bind = $mod, c, hy3:makegroup, h, ephemeral

# Workspace focus bindings
bind = $mod, 1, workspace, 1
bind = $mod, 2, workspace, 2
bind = $mod, 3, workspace, 3
bind = $mod, 4, workspace, 4
bind = $mod, 5, workspace, 5
bind = $mod, 6, workspace, 6
bind = $mod, 7, workspace, 7
bind = $mod, 8, workspace, 8
bind = $mod, 9, workspace, 9
bind = $mod, 0, workspace, 10
bind = $mod, W, workspace, 11
bind = $mod, P, workspace, 12
bind = $mod, M, workspace, 13
bind = $mod, O, workspace, 14

# Move active window to a workspace with mod + SHIFT + [0-9]
bind = $mod SHIFT, 1, movetoworkspacesilent, 1
bind = $mod SHIFT, 2, movetoworkspacesilent, 2
bind = $mod SHIFT, 3, movetoworkspacesilent, 3
bind = $mod SHIFT, 4, movetoworkspacesilent, 4
bind = $mod SHIFT, 5, movetoworkspacesilent, 5
bind = $mod SHIFT, 6, movetoworkspacesilent, 6
bind = $mod SHIFT, 7, movetoworkspacesilent, 7
bind = $mod SHIFT, 8, movetoworkspacesilent, 8
bind = $mod SHIFT, 9, movetoworkspacesilent, 9
bind = $mod SHIFT, 0, movetoworkspacesilent, 10
bind = $mod SHIFT, W, movetoworkspacesilent, 11
bind = $mod SHIFT, P, movetoworkspacesilent, 12
bind = $mod SHIFT, M, movetoworkspacesilent, 13
bind = $mod SHIFT, O, movetoworkspacesilent, 14

# Move/resize windows with mod + LMB/RMB and dragging
bindm = $mod, mouse:272, movewindow
bindm = $mod, mouse:273, resizewindow

# Volume, media, and brightness
bindel = , XF86AudioRaiseVolume, exec, wpctl set-volume @DEFAULT_AUDIO_SINK@ 2%+
bindel = , XF86AudioLowerVolume, exec, wpctl set-volume @DEFAULT_AUDIO_SINK@ 2%-
bindel = SHIFT, XF86AudioRaiseVolume, exec, wpctl set-volume @DEFAULT_AUDIO_SINK@ 8%+
bindel = SHIFT, XF86AudioLowerVolume, exec, wpctl set-volume @DEFAULT_AUDIO_SINK@ 8%-
bindl = , XF86AudioMute, exec, wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle
bindl = , XF86AudioMicMute, exec, wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle
bindl = , XF86AudioPause, exec, playerctl-wrapper pause
bindl = , XF86AudioPlay, exec, playerctl-wrapper play-pause
bindl = , XF86AudioPrev, exec, playerctl-wrapper previous
bindl = , XF86AudioNext, exec, playerctl-wrapper next
bindel = , XF86MonBrightnessUp, exec, light -A 10
bindel = , XF86MonBrightnessDown, exec, light -U 10
bindel = SHIFT, XF86MonBrightnessUp, exec, light -A 1
bindel = SHIFT, XF86MonBrightnessDown, exec, light -U 1

# Lock
bind = $mod CONTROL, L, exec, hyprlock

# Screenshot
bind = , Print, exec, hyprshot -z -m region --clipboard-only
bind = Shift, Print, exec, hyprshot -z -m region -o /home/pavle/pictures -f screenshot.png
bind = $mod, Print, exec, pyazo -d

# https://wiki.hyprland.org/Configuring/Workspace-Rules/

# https://wiki.hyprland.org/Configuring/Window-Rules/
windowrule {
    name = no-border-workspace-tv1
    border_size = 0
    rounding = 0
    match:float = 0
    match:workspace = w[tv1]
}

windowrule {
    name = no-border-workspace-f1
    border_size = 0
    rounding = 0
    match:float = 0
    match:workspace = f[1]
}


windowrule {
    name = suppress-maximize
    suppress_event = maximize
    match:class = .*
}

windowrule {
    name = xwayland-drag-fix
    no_focus = on
    match:class = ^$
    match:title = ^$
    match:xwayland = 1
    match:float = 1
    match:fullscreen = 0
    match:pin = 0
}

windowrule {
    name = wine-systray-special
    workspace = special silent
    match:title = Wine System Tray
}

windowrule {
    name = steam-games-fullscreen
    fullscreen = on
    match:class = steam_app*
}

windowrule {
    name = steam-workspace
    workspace = 10 silent
    match:class = steam
}

windowrule {
    name = firefox-workspace
    workspace = 11 silent
    match:class = firefox
}

windowrule {
    name = telegram-workspace
    workspace = 12 silent
    match:class = org.telegram.desktop
}

windowrule {
    name = signal-workspace
    workspace = 12 silent
    match:class = signal
}

windowrule {
    name = thunderbird-workspace
    workspace = 13 silent
    match:initial_class = org.mozilla.Thunderbird
}

# https://wiki.hypr.land/Configuring/Window-Rules/#layer-rules

# Vicinae launcher
layerrule = dim_around on, match:namespace vicinae
