[general]
import = ["/home/pavle/.config/alacritty/gruvbox.toml"]

[font]
size = {{ .alacritty.font.size }}

[font.normal]
family = "MonoFont"
style = "Regular"

[font.offset]
x = {{ .alacritty.font.offset.x }}
y = {{ .alacritty.font.offset.y }}

[scrolling]
history = 40000

[window]
dynamic_title = true

[window.class]
general = "Alacritty"
instance = "Alacritty"

[selection]
semantic_escape_chars = ",│`|\"' ()[]{}<>\t"
