[core]
modules=traffic, nic, load, cpu2, memory
autohide=#comma-separated list of modules to hide, unless in warning/error state
theme=gruvbox-powerline

[module-parameters]
workspacewheel=False
traffic.hide_down=True
traffic.exclude=lo,virbr,docker,vboxnet,veth,br-,cni,flannel,podman,tun,wg,tailscale,waydroid,wt
nic.exclude=lo,virbr,docker,vboxnet,veth,br-,cni,flannel,podman,waydroid
nic.states=^down
cpu2.layout=cpu2.coresload
cpu2.colored=1
