[core]
modules=playerctl, dunst, {{ .i3.bumblebee.modules }} sensors, pulsein, pulseout, date, time
autohide=#comma-separated list of modules to hide, unless in warning/error state
theme=gruvbox-powerline

[module-parameters]
workspacewheel=False
popup_font_size=14
playerctl.args=-p brave
playerctl.layout=playerctl.song,playerctl.prev,playerctl.pause,playerctl.next
playerctl.format={{`{{artist}}`}} - {{`{{title}}`}}
playerctl.hide=true
pulsein.showbars=1
pulsein.showdevicename=false
pulsein.right-click=select_default_device_popup
pulsein.popup-filter=Monitor
pulseout.showbars=1
pulseout.showdevicename=true
pulseout.right-click=select_default_device_popup
pulseout.popup-filter=GA102
sensors.use_sensors=true
sensors.json=true
date.format=%a, %Y-%m-%d
date.interval=30
time.format=%H:%M:%S
time.interval=1
{{ range $_, $param := .i3.bumblebee.parameters -}}{{ $param.key }}={{ $param.value }}
{{end}}
