[general]
currency = usd
currency_symbol = $
display = price
spacer_symbol = |
api_key = {{ .waybar.top.crypto_api_key }}

[eth]
icon = 󰡪
in_tooltip = false
price_precision = 1
change_precision = 2
volume_precision = 2
